body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

#webnav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #277CCA;
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  padding: 0 1em;
  box-sizing: border-box;
  z-index: 100;
}

.nav-items-container {
  display: flex;
  gap: 1em; /* Space between central nav items */
  flex-wrap: nowrap; /* Prevent items from wrapping */
}

.navitems {
  color: white;
  text-decoration: none;
  font-size: 1.25em;
  white-space: nowrap; /* Prevent text wrapping */
}

#webnav a:last-child {
  margin-left: auto; /* Push 'Install Now!' to the far right */
}

.section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25em;
}

#section1 {
  background: linear-gradient(135deg, #E3F2FD, #BBDEFB);
  color: black;
}

#section3 {
  background: whitesmoke;
  color: black;
  display: flex;
}

#section2,#section4 {
  background: white;
  color: black;
}

.feature-container {
  width: 75%;
  display: flex;
  justify-content: space-around;
  gap: 1em;
}

.feature-container > div {
  display: flex;
  flex-direction: column;
  border: black;
  background: linear-gradient(135deg, #E3F2FD, #BBDEFB);
  align-items: center;
  text-align: center;
  width: 80%;
  height: 80%;
  padding: 0em 1em;
}

.card {
  width: 300px;
  height: 500px;
  margin: 20px;
  background-color: #f0f0f0;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 0.80em;
}

.card img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 8px;
}

.card b {
  margin-bottom: 10px;
}

.card p {
  margin-bottom: 15px;
}

.card button {
  padding: 10px 20px;
  background-color: #277CCA;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

#hero-section {
  display: flex;
  align-items: center;
  width: 75%;
}

#hero-sec-img-cont {
  display: flex;
  width: 50%;
  justify-content: center;
}

#hero-sec-img-cont > img,.cto{
  align-self: center;
}

#hero-section-content {
  display: flex;
  flex-direction: column;
  height: 500px;
  width: 50%;
}

#hero-section-content > p {
  word-wrap: normal;
}

/* Buttons */
.hero-buttons {
  display: flex;
  gap: 15px;
}

.cto {
  width: 180px;
  height: 40px;
  border: none;
  color: white;
  text-align: center;
  font-size: 1em;
  cursor: pointer;
  border-radius: 8px;
  transition: all 0.3s ease;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2); /* Add depth to the image */
}

.cto1,.cto2 {
  background-color: #277CCA; 
  color: white; 
  border: 2px solid #277CCA;
}

.cto1:hover,.cto2:hover {
  background-color: white;
  color: #277CCA;
}

.cto3 {
  background-color: white; 
  color: #277CCA; 
  border: 2px solid white
}

.cto3:hover {
  background-color: #277CCA;
  color: white;
}

#section4 {
  background: linear-gradient(135deg, #E3F2FD, #BBDEFB);
}

#features-section {
  display: flex;
  flex-direction: column;
  width: 75%;
  gap: 2em;
  padding: 2em;
}

#feature-header {
  text-align: center;
}

#feature-content {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 1em;
}

.feature-card {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 200px;
  border-radius: 8px;
  background-color: whitesmoke;
  padding: 1em;
}

.feature-card > p {
  font-size: 0.75em;
}

#installon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  width: 100%;
}

#webfooter {
  padding-top: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #277CCA;
  height: 30%;
  width: 100%;
}

#icongroup {
  display: flex;
  justify-content: center;
  gap: 8px;
}

#footertext {
  display: flex;
  justify-content: center;
}

/* Responsive Media Queries */
@media (max-width: 768px) {
  .nav-items-container {
    display: none;
  }

  /* #webnav a:last-child {
    display: none;
  } */

  .cto2 {
    display: none;
  }

  #hero-section {
    flex-direction: column;
    text-align: center;
  }

  #hero-sec-img-cont,
  #hero-section-content {
    width: 100%;
    text-align: center;
  }

  .hero-buttons {
    justify-content: center;
  }

  #section1{
    margin-top: 60px;
  }
  
  #section3 {
    flex-direction: column;
  }

  .section{ 
    height: auto;
    font-size: 1em;
  }
}